*{
     margin: 0;
     padding: 0;
     font-family: 'Fira Sans', sans-serif;
}
#header{
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0.813), transparent), url(./photoes/background.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 71.1vh;
     color: white;
     padding-top: 250px;
     padding-left: 220px;
}
#header h1{
     font-size: 61px;
     font-family: 'Cairo', sans-serif;
     line-height: 70px;
}
#header p{
     font-size: 22px;
     padding: 30px 0 30px ;
}
.donate-btn{
     text-decoration: none;
     color: white;
     background-color: #EF233C;
     padding: 16px 30px;
     border-radius: 8px;
     font-size: 22px;
}

/* Section 2 */

#donate-sec{
     display: flex;
}
.donate-text{
     padding-top: 170px;
     padding-left: 220px;
}
.donate-text h1{
     font-size: 51px;
     font-family: 'Cairo', sans-serif;
     line-height: 70px;
}
.donate-text p{
     font-size: 22px;
     padding: 30px 0 30px ;
}
.donate-btn{
     text-decoration: none;
     color: white;
     background-color: #EF233C;
     padding: 16px 30px;
     border-radius: 8px;
}
.donate-img{
     padding: 125px 0 0 125px;
}
.video-btn{
     z-index: 2;
     position: relative;
     right: 50%;
     bottom: 38%;
}

/* section 3 */

#survive-sec{
     display: flex;
     padding-top: 125px;
}
.survive-img{
     padding-left: 220px;
}
.survive-text{
     padding: 45px 0 0 175px;
}
.survive-text h1{
     font-size: 51px;
     font-family: 'Cairo', sans-serif;
     line-height: 70px;
}
.survive-text p{
     font-size: 22px;
     padding: 30px 0 30px ;
}

/* section-4 */

#live-sec{
     padding-top: 135px;
}
.heading-part{
     text-align: center;
}
.heading-part h1{
     font-size: 61px;
     font-family: 'Cairo', sans-serif;
     line-height: 70px;
}
.heading-part p{
     font-size: 22px;
     padding: 30px 0 30px ;
}


.live-container{
     padding-left: 220px;
}
.box-container{
     display: flex;
     gap: 1.5rem;
     padding-bottom: 1.5rem;
}
.box{
     display: flex;
     background-color: #FEF4F5;
     border-radius: 10px;
     width: 450px;
     padding: 40px 0 40px 50px;
}
.live-text{
     padding-left: 35px;
}
.live-text h1{
     font-size: 28px;
     font-weight: 800;
}
.live-text p{
     font-size: 22px;
     padding-top: 10px;
     text-align: justify;
}


/* section 4 */

#praying{
     padding-top: 125px;
}
.pray-container{
     display: flex;
     justify-content: center;
     gap: 2rem;
}

/* section 5 */

#hand{
     padding-top: 125px;
}
.hand-header{
     text-align: center;
}
.hand-header h1{
     font-size: 51px;
     font-family: 'Cairo', sans-serif;
     line-height: 65px;
}
.hand-header p{
     font-size: 22px;
     padding: 30px 0 30px ;
}
.hand-container{
     padding-top: 60px;
     display: flex;
     padding-left: 190px;
     gap: 1.6rem;
}
.hand-box{
     width: 363px;
     border: 1px solid #ddd;
     border-radius: 10px;
}
.hand-text{
     padding-left: 20px;
}
.hand-text h1{
     font-size: 25px;
     margin: 20px 0;
     font-weight: 700;
}
.hand-text p{
     max-width: 320px;
     text-align: justify;
     font-size: 20px;
     padding-right: 10px;
}
.hand-text h2{
     padding-top: 40px;
     color: #EF233C;
}
.hand-text hr{
     width: 175px;
     background-color: #EF233C;
     position: relative;
     height: 1px;
}
