*{
     margin: 0;
     padding: 0;
     font-family: 'Fira Sans', sans-serif;
}
#header{
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0.813), transparent), url(./photoes/background.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 71.1vh;
     color: white;
     padding-top: 250px;
     padding-left: 220px;
}
#header h1{
     font-size: 61px;
     font-family: 'Cairo', sans-serif;
     line-height: 70px;
}
#header p{
     font-size: 22px;
     padding: 30px 0 30px ;
}
.donate-btn{
     text-decoration: none;
     color: white;
     background-color: #EF233C;
     padding: 16px 30px;
     border-radius: 8px;
     font-size: 22px;
}

/* Section 2 */

#donate-sec{
     display: flex;
}
.donate-text{
     padding-top: 170px;
     padding-left: 220px;
}
.donate-text h1{
     font-size: 51px;
     font-family: 'Cairo', sans-serif;
     line-height: 70px;
}
.donate-text p{
     font-size: 22px;
     padding: 30px 0 30px ;
}
.donate-btn{
     text-decoration: none;
     color: white;
     background-color: #EF233C;
     padding: 16px 30px;
     border-radius: 8px;
}
.donate-img{
     padding: 125px 0 0 125px;
}
.video-btn{
     z-index: 2;
     position: relative;
     right: 50%;
     bottom: 38%;
}

/* section 3 */

#survive-sec{
     display: flex;
     padding-top: 125px;
}
.survive-img{
     padding-left: 220px;
}
.survive-text{
     padding: 45px 0 0 175px;
}
.survive-text h1{
     font-size: 51px;
     font-family: 'Cairo', sans-serif;
     line-height: 70px;
}
.survive-text p{
     font-size: 22px;
     padding: 30px 0 30px ;
}